body {
  color: #434455;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.container-header {
  display: flex;
  align-items: center;
}

.main-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.logo {
  color: #2e2f42;
}
.header-nav {
  display: flex;
  align-items: center;

  line-height: 1.5;
  letter-spacing: 0.02em;

  flex-grow: 1;
}
.header-menu-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-menu-item {
}
.header-menu-link {
  font-weight: 500;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
}
.header-contacts {
}
.header-contacts-list {
  display: flex;
  gap: 40px;
}
.header-contacts-item {
}
.header-contacts-info {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
  color: #434455;

  padding: 24px 0;
  display: block;
}
.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-contacts-info:hover,
.header-contacts-info:focus {
  color: #404bbf;
}

/* hero */

.hero-section {
  background-color: #2e2f42;
  border: 1px solid #000;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 188px 0;
}
.container-hero {
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;

  color: #fff;
  max-width: 496px;
  margin: 0 auto 48px;
}

.hero-button {
  display: block;
  margin: 0 auto;
  padding: 0 auto;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;

  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* section-motivation */

.motivation {
  padding: 120px 0;
  margin: 0 auto;
}

.motivation-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.motivation-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #434455;
}

.motivation-list {
  display: flex;
  gap: 24px;
}

.motivation-item {
  width: calc((100% - 24px * 3) / 4);
}

/* team-section */

.team {
  background-color: #f4f4fd;
  padding: 120px 0px;
}

.container-team {
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.team-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.team-list-item {
  background-color: #fff;

  width: calc((100% - 72px) / 4);

  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.container-people {
  padding: 32px 0;
}

/* portfolio-section */

.portfolio {
  background-color: #fff;
  padding: 120px 0;
}

.container-portfolio {
}
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  align-items: center;
  gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
}

.container-dscr {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  width: 360px;
  height: 120px;
  padding: 32px 16px;
}

.portfolio-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* footer */

footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.main-logo-footer {
  display: inline-block;

  padding: 0;
  margin-bottom: 16px;
}

.logo-footer {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  margin-bottom: 16px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  width: 264px;
}
.container-footer {
}
